<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<title>T Smart Safe | IDMS신청 자세히 보기</title>
<link rel="stylesheet" type="text/css" href="../../../common/css/import.css" />
<script type="text/javascript" src="../../../common/js/jquery-1.6.2.min.js"></script>

</head>

<body>


<!-- contents 영역 시작 -->

<div class="popType1" style="width:400px;padding-bottom:30px"><!-- 2017-09-07 input width수정 // -->
	<div class="tmPop2">
		<h1><img src="../../../images/pop_pay_title.png" alt="결제요청" /></h1>

		<h2>결제정보</h2>
		<table class="tblType1">
			<caption>결제자명,거래금액,상점명(한글),상점명(영문),결제상품명으로 구성된 결제정보 입력 양식</caption>
			<colgroup>
				<col style="width: 125px" />
				<col style="width: *" />
			</colgroup>
			<tbody>
				<tr>
					<th>결제자명</th>
					<td><input type="text" class="inputType1" /></td>
				</tr>
				<tr>
					<th>거래금액</th>
					<td><input type="text" class="inputType1" disabled="disabled" value="563240" /></td>
				</tr>
				<tr>
					<th>상점명(한글)</th>
					<td><input type="text" class="inputType1" /></td>
				</tr>
				<tr>
					<th>상점명(영문)</th>
					<td><input type="text" class="inputType1" /></td>
				</tr>
				<tr>
					<th>결제상품명</th>
					<td><input type="text" class="inputType1" /></td>
				</tr>
			</tbody>
		</table>

		<h2>카드정보</h2>
		<table class="tblType1 lastTable">
			<caption>할부기간,카드번호,유효기간 월/년으로 구성된 카드정보 입력 양식</caption>
			<colgroup>
				<col style="width: 125px" />
				<col style="width: *" />
			</colgroup>
			<tbody>
				<tr>
					<th>할부기간</th>
					<td><select name="" class="selectType1">
							<option>선택</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>카드번호</th>
					<td><input type="text" class="inputType1" style="width:40px;margin-right:5px" /><input type="text" class="inputType1" style="width:40px;margin-right:5px" /><input type="text" class="inputType1" style="width:40px;margin-right:5px" /><input type="text" class="inputType1" style="width:40px;margin-right:5px" /> <!-- 2017-09-07 input width수정 // --></td>
				</tr>
				<tr>
					<th>유효기간 월/년</th>
					<td><input type="text" class="inputType1" value="MM" style="width:68px;margin-right:5px"  />월&nbsp;&nbsp;&nbsp;<input type="text" class="inputType1" value="YY" style="width:68px;margin-right:5px" /> 년<!-- 2017-09-07 input width수정 // --></td>
				</tr>
			</tbody>
		</table>

		<p class="tmPop_closeBt2">
			<a href="javascript:self.close()"><img src="../../../images/btn/bt_popClose.png" alt="닫기" /></a>
		</p>
	</div>

	<p class="tssBtOk">
		<a href=""><img src="../../../images/btn/btn_pay.png" alt="결제" /></a>
	</p>
</div>

<!-- contents 영역 끝 -->


</body>

</html>